[submodule "themes/hugo-profile"]
	path = themes/hugo-profile
	url = https://github.com/gurusabarish/hugo-profile.git
[submodule "public"]
	path = public
	url = git@github.com:ToiletCorp/toiletcorp.github.io.git
	branch = main
